{% extends "GACoreBundle::layout.html.twig" %}

{% block title %}

 Admin Tournoi- {{ parent() }}

{% endblock %}

{% block core_body %}
<div class="well">

 <h2> Liste des tournois </h2>
 
 {%for tournoi in listeTournoi%}
	
	<p>{{tournoi.nom}}
		<a href="{{ path('ga_core_tournoi_edit', {'id': tournoi.id})}}"> - Modifier - </a>
		<a href="{{ path('ga_core_tournoi_delete', {'id': tournoi.id})}}">  Supprimer </a>
	</p>

</diV>

{%endfor%}

{% endblock %}