{% extends "GACoreBundle::layout.html.twig" %}

{% block title %}
  Admin Agenda - {{ parent() }}
{% endblock %}

{% block core_body %}

	
	<p> liste des events - lien modif - lien suppression </p>
	
	<p> lien d'ajout </p>



{% endblock %}