{% extends "GACoreBundle::layout.html.twig" %}

{% block title %}
  une news - {{ parent() }}
{% endblock %}

{% block core_body %}

	
<a href="{{asset(product.brochure)}}"> produit </a>
			



{% endblock %}