{% extends "GACoreBundle::layout.html.twig" %}

{% block title %}
  Ajouter une news - {{ parent() }}
{% endblock %}

{% block core_body %}

  <h2>Formulaire d'annonce</h2>
	
	<div class="well">
		{{form(form)}}
	</div>


{% endblock %}