{% extends "GACoreBundle::layout.html.twig" %}

{% block title %}

  Annonce - {{ parent() }}

{% endblock %}

{% block core_body %}

	<div class='well'>
	<h3>{{annonce.titre}} - <a href="{{ path('ga_core_annonce_edit', {'id': annonce.id})}}"> modifier </a></h3>
	
	<div class='well'>
	
	<strong>Contenu : </strong>{{annonce.contenu}}
	
</div>

{% endblock %}