{% extends "GACoreBundle::layout.html.twig" %}

{% block title %}
  Présentation - {{ parent() }}
{% endblock %}

{% block core_body %}

  <h2>Administration</h2>

 <p><a href="/app_dev.php/admin/news/add">ajouter</a></p>

{% endblock %}