{% extends "GACoreBundle::layout.html.twig" %}

{% block title %}
  Présentation - {{ parent() }}
{% endblock %}

{% block core_body %}

  <h2>Administration</h2>

 <p> ici se trouve le menu admin </p>

{% endblock %}