{% extends "GACoreBundle::layout.html.twig" %}

{% block title %}
  Présentation - {{ parent() }}
{% endblock %}

{% block core_body %}

  <h3> Clubs du Comité Loire </h3>

<p> Les clubs de la Loire sur le <a href="http://www.echecs.asso.fr/ListeClubs.aspx?Action=CLUBCOMITE&ComiteRef=42"> site de la FFE</a>.</p>

 <ul class="list-group">
  <li class="list-group-item">
  <p><strong>CLUB D'ECHECS DE ST-CHAMOND</strong></p>
  <p>Ancien commissariat de Saint Julien en Jarez, Place Romain Gerin, 42400 SAINT CHAMOND <br />
  <a href="mailto:serge.vier@wanadoo.fr">Serge VIER</a>, montée Chavillon Salcigneux, 42320 CELLIEU, 04 77 73 40 25</p>
  </li>
  <li class="list-group-item">
  <p><strong>CERCLE D'ECHECS DU ROANNAIS</strong></p>
  <p>19 rue Augagneur, 42300 ROANNE<br />
  <a href="mailto:patrick.carrot@wanadoo.fr">Patrick CARROT</a>, 28 rue Bellevue, 42300 ROANNE, 04 77 70 69 42</p>
  </li>
  <li class="list-group-item">
  <p><strong>LE CHAMP DU FOU </strong> <a href="http://loirechecs.chez-alice.fr/">site du club</a></p>
  <p>MJC, Parc de la Liberté, 43110 AUREC SUR LOIRE<br />
  <a href="mailto:odeville@open-aurec.com">Olivier DEVILLE</a>, Côtevière, 43110 AUREC SUR LOIRE, 04 77 35 41 21 - 06 17 50 42 64</p>
  </li>
  <li class="list-group-item">
  <p><strong>MJC CLUB D'ECHECS DU FOREZ</strong></p>
  <p>MJC, BP230, Bd Pasteur, 42170 SAINT-JUST SAINT-RAMBERT<br />
  <a href="mailto:francois.trottet@tele2.fr">François TROTTET</a>, 15 route de St-Côme, 42170 ST-JUST ST-RAMBERT, 06 23 05 01 31</p>
  </li>
  <li class="list-group-item">
  <p><strong>ECHIQUIER DU ROANNAIS</strong><a href="http://echiquierduroannais.blogspot.com/"> site du club</a></</p>
  <p>Maison des Anciens Combattants, 18 rue de Cadore, 42300 ROANNE<br />
  <a href="mailto:echiquierduroannais@gmail.com">Gérad SOLER</a>, 48 Allée Philippe Lamour, 42153 RIORGES, 04 77 71 86 47</p>
  </li>
  <li class="list-group-item">
  <p><strong>ECHIQUIER SPORTIF DE ST ETIENNE</strong><a href="http://www.e-s-s-e.com/"> site du club</a></</p>
  <p>Maison d'Animation de la Métare, 96 bd A. de Fraissinette, 42100 SAINT-ÉTIENNE<br />
  <a href="mailto:christian.joly@e-s-s-e.com">Christian JOLY</a>, 13 allée des Merisiers, 42390 VILLARS, 06 88 55 19 97</p>
  </li>
  <li class="list-group-item">
  <p><strong>MJC CHAZELLES SUR LYON</strong></p>
  <p>MJC, rue Joanny Desage, 42140 CHAZELLES SUR LYON<br />
  <a href="mailto:mjc.chazelles@wanadoo.fr">M.GUILLERMIN</a> ou Mme GARCIA, 04 77 54 29 21 </p>
  </li>
</ul>

{% endblock %}