{% extends "GACoreBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block core_body %}

  <h3>Organigramme</h3>
<p><span class="fonction">Président: <span><strong><a href="mailto:nialldor@gmail.com">Niall DORAN</a></strong></p>
<p><span class="fonction">Secrétaire: <span><strong><a href="mailto:agnes.meslin@club-internet.fr">Stéphane PIPER</a></strong></p>
<p><span class="fonction">Trésorier: <span><strong><a href="mailto:odeville@open-aurec.com">Olivier DEVILLE</a></strong></p>
<p><span class="fonction">Membres: <span><strong><a href="mailto:dominique.gire@sfr.fr">Dominique GIRES, </a><a href="mailto:christian.joly@e-s-s-e.com">Christian JOLY, </a>
<a href="mailto:francois.trottet@sfr.fr">François TROTTET</a></strong></p>

{% endblock %}
