{% extends "GACoreBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block core_body %}

<p>
<strong>Le Comité Loire Echecs a pour objet de faciliter et de développer la pratique du jeu d'échecs et du sport échecs
 pour tous les amateurs et dans tout le département de la Loire.</strong>
</p>

<p>
Fondé sous le régime de la loi du 1er Juillet 1901, le Comité Loire Echecs est un organe décentralisé de la <a href="http://www.echecs.asso.fr/">
Fédération Française des Echecs</a>, obtenant ainsi d’être la seule association départementale reconnue pour représenter la FFE.
 Le CLE reçoit entre autres délégations, celle de contrôler la conformité aux conditions fédérales des associations affiliées de son ressort.
</p>


<p>
Etre affilié à la Fédération Française des Echecs c’est avant tout pour nos associations sportives appartenir au Comité Départemental.
</p>

<p class="separation">
--------------------
</p>

<p>
La Fédération indique dans son règlement intérieur le rôle d’un Comité Départemental : <em>« Aider et coordonner l’action des clubs du département »</em>
</p><br />

<p>
Rôle que fixe dans ses statuts le CLE : <em>« le Comité …a pour but de favoriser, de contrôler et de 
diriger la pratique du jeu d’échecs dans le département. »</em>
</p>

<p>
Le Jeu d’Echecs est un sport à part entière depuis que, le 19 Janvier 2000, la FFE fut reconnue par les instances nationales comme une véritable Fédération Sportive.
</p>

<p>
Le Comité, agréé dès lors par <a href="http://62.210.169.85/www.ddjs-loire.jeunesse-sports.gouv.fr/">
la Direction Départementale de la Jeunesse et des Sports</a>, est chargé de veiller au respect de la charte de
 déontologie du sport établie par le <a href="http://www.franceolympique.com/">Comité National Olympique et 
Sportif Français.</a>
</p>

<p class="separation">
--------------------
</p>

<p>
Le Comité, pour son fonctionnement, tire principalement ses ressources :
</p>

<ul>
    <li> Des cotisations et souscriptions de ses membres </li>
    <li>Du produit des licences et des manifestations </li>
    <li>Des subventions de l’Etat, des collectivités territoriales et des établissements publics.</li>
 </ul>


<p>
Les Comités Départementaux du <a href="http://perso.wanadoo.fr/comiterhonechecs/">Rhône</a>, de l’
<a href="http://membres.lycos.fr/cae01/">Ain</a> et de la Loire sont réunis par la Fédération Française en un
 organisme déconcentré appelé «<a href="http://www.ligue-lyonnais-echecs.org/">
 Ligue Régionale du Lyonnais</a> ». La Fédération délègue à cette Ligue régionale le contrôle de l’exercice des missions qu’elle confie aux Comités Départementaux de leur région, lui donnant, notamment, accès aux documents relatifs à leur gestion et à leur comptabilité.
</p>

<p class="separation">
--------------------
</p>


<h4>Les domaines de compétence du Comité Départemental :</h4>

<ul>
<li>C’est la vie sportive départementale qui retient prioritairement l’attention du CLE.</li><br />
<li>Le Comité organise un certain nombre de compétitions sous le contrôle de sa Commission Technique, 
qui veille à ce qu’elles soient conformes aux directives fédérales, et de sa Commission des Arbitres,
 qui s’appuie sur les instructions officielles du corps des arbitres.</li><br />
<li>Le CLE, afin de représenter et de promouvoir dignement notre discipline dans
 le mouvement sportif départemental, assure des relations avec les collectivités départementales :
 le<a href="http://www.loire.fr/"> Conseil Général</a>,
 le<a href="http://loire.franceolympique.com/"> Comité Départemental Olympique et Sportif</a>,
 la <a href="http://62.210.169.85/www.ddjs-loire.jeunesse-sports.gouv.fr/">Direction Départementale de la Jeunesse et des Sports</a>,
 l’<a href="http://lessites.service-public.fr/cgi-bin/annusite/annusite.fcgi/loc7?lang=fr&orga=6658">Inspection Académique</a>, 
le <a href="http://www.fnoms.org/federation/historique.asp">Comité Départemental des Offices Municipaux des Sports</a>.</li>
</ul>
<p>Le CLE travaille aussi à :</p>

<ul>
<li>Fournir à la presse toutes les informations et relations nécessaires à notre représentation.</li>
<li>Construire et animer son site Internet comme un lieu d’échanges et de renseignements pour tous les licenciés et sympathisants.</li>
<li>Aider au développement des clubs, à leur suivi administratif.</li>
<li>Favoriser et soutenir la création de nouvelles associations sportives.</li>
<li>Préparer et proposer à nos jeunes licenciés une offre sportive sérieuse et de qualité.</li>
<li>Et, en général, à aider toutes activités favorables au développement et à la mise en scène du Jeu d'Echecs.</li>
</ul>

{% endblock %}