{% extends "GACoreBundle::layout.html.twig" %}

{% block title %}
  Ajouter une news - {{ parent() }}
{% endblock %}

{% block core_body %}

  

<h3>Formulaire Agenda</h3>

<div class="well">
  {{ form(form) }}
	</div>

{% endblock %}