{% extends "GACoreBundle::layout.html.twig" %}

{% block title %}
  Calendrier - {{ parent() }}
{% endblock %}

{% block core_body %}

  <h2>Calendrier</h2>

 <p> ici se trouvera la liste des evenments </p>

{% endblock %}