{% extends "GACoreBundle::layout.html.twig" %}

{% block title %}
  image - {{ parent() }}
{% endblock %}

{% block core_body %}

	
			
<h2>Ajouter une image </h2>

{{ form_start(form) }}
        {{ form_row(form.chemin) }}
{{ form_end(form) }}

{% endblock %}