{% extends "GACoreBundle::layout.html.twig" %}

{% block title %}
  une news - {{ parent() }}
{% endblock %}

{% block core_body %}

	
			
<h1>Ajouter une pdf</h1>

{{ form_start(form) }}
    {# ... #}

    {{ form_row(form.chemin) }}
{{ form_end(form) }}

<h2> pdf</h2>



{% endblock %}