{% extends "GACoreBundle::layout.html.twig" %}

{% block title %}
  une news - {{ parent() }}
{% endblock %}

{% block core_body %}

	
			
<h1>Ajouter un appariement ou résultat</h1>

{{ form_start(form) }}
        {{ form_row(form.chemin) }}
{{ form_end(form) }}

{% endblock %}