{% extends "GACoreBundle::layout.html.twig" %}

{% block title %}
  Editer un lien - {{ parent() }}
{% endblock %}

{% block core_body %}

   <h2>Editer un lien</h2>
	
	<div class="well">
  {{ form(form) }}
	</div>

{% endblock %}