<li class="dropdown">
<a  class="dropdown-toggle" data-toggle="dropdown"  href="#"> Compétition adulte<span class="caret"></span></a>
<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">


{% for key,v  in listeTournoi %}

<li class="dropdown-submenu">
<a tabindex="-1" href="#"> {{key}} </span></a>

<ul class="dropdown-menu">
													<li class="dropdown-submenu">
													
												{% for key,value in v %}
												
												{% for key,id in value %}
												{% if isInt(id)  %}
												<a href="{{ path('ga_core_tournoi', {'id': id})}}"> 
												{% endif %}
												{% if isString(id)  %}
												{{id}}
												</a>
												{% endif %}
												
												{% endfor %}
												

												{% endfor %}
												
												</li>
												</ul>

{% endfor %}

</li>
</ul>
	