{% extends "GACoreBundle::layout.html.twig" %}

{% block title %}

  Tournoi- {{ parent() }}

{% endblock %}

{% block core_body %}


  <h3>{{tournoi.nom}}</h3>
	


{%for ronde in tournoi.rondes%}

<h4>Ronde N° {{ronde.numero}}</h4>

{%endfor%}

{% endblock %}